/* You can add global styles to this file, and also import other style files */

html,
body {
  min-width: 100vh;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex: 1;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.absolute-position {
  position: relative;
}
.inner {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}


.loader{
    display: block;
    margin: auto;
    border: 16px solid white;
    border-radius: 50%;
    border-top: 16px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: rotation 2s linear infinite; /* Safari */
    animation: rotation 2s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
